*{
    box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;

    background-color: #f8f8f8;
    margin: 0;
}

.about_us, .shop_in_store, .footer_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
 

.photo_item img{
    max-width: 24.167vw;    
}

/* HEADER */

header{
    padding-top: 20px;
    position: fixed; 
    width: 100%;
    z-index: 3;
}
.header_menu {
    display: flex; 
    justify-content: space-between;  
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}
.spacer {
    flex-grow: 1; 
}

.header_menu button{    
    background-color: transparent;
    border: none;         
    font-size: 30px; 
    color: white;
    cursor: pointer;
}
.menu_button{
    padding-top: 5px;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: 3%;
    background-color: transparent ;
    min-width: 300px;
    z-index: 3;
  }
  
  .dropdown-content a {
    color: white;         
    font-size: 30px; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
     background-color: #676158;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
.header_menu a{
    text-decoration: none;
    color: white;    
    margin: 5px 20px 0 20px;
    font-size: 30px;
}


/* header done */
.header_menu_done {
    display: flex; 
    justify-content: space-between;  
    align-items: center;  
    padding-left: 3%;
    padding-right: 3%;
}

.header_menu_done button{    
    background-color: transparent;
    border: none;
    color: rgba(103, 97, 88, 1);
    font-size: 30px;    
    cursor: pointer;
}

.header_menu_done a{
    text-decoration: none;
    color: rgba(103, 97, 88, 1);    
    margin: 5px 20px 0 20px;
    font-size: 30px;
}
.header_menu_done .dropdown-content a:hover{
    color: white;
}



/*  part 1 */
.welcome {
    background-image: url(resources/first_background.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.welcome p {
    color: #f8f8f8;
    font-size: 72.22vh;    
    font-family: "Xanh Mono", monospace;
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    margin: 0; 
    transition: font-size 0.2s ease;
    z-index: 1;
}
#fixed-text{
    display: none;
}


/*  part 2 */
.about_us{
    margin-top: 9.259vh;
    padding: 9.259vh;   
}
.about_info{
    text-align: center;  
    padding-left: 5%;
}
.head{
    font-size: 86px;
    font-weight: bold;
    color: rgba(100, 96, 86, 1);
}
.text{
    font-size: 24px;
    max-width: 754px;
    color: rgba(103, 97, 88, 1);
}

.about_us img{
    border-radius: 62px;
    max-width: 100%;
    vertical-align: middle;
}
.slider_wrapper{
    max-width: 27%;
}
.mySlides {display: none}

.slideshow_container {
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    width: 30%;
    padding: 16px;
    height: 100%;
    top: 0;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 62px;
}

.next {
    right: 0;
    border-radius: 62px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/*  part 3  */
.products{
    background-image: url(resources/background.png);
    background-size: cover;
    height: 110vh;
    font-size: 6.2vh;
    padding-top: 2.778vh;
    margin-bottom: 9.259vh;
}
.products ul{list-style-type: none;}
.products a{
    text-decoration: none;
    letter-spacing: 1.667vw;
    color: rgba(100, 96, 86, 1);
    display: inline-block; 
    height: 4.63vh; 
    line-height: 4.63vh; 
    transition: all 0.3s ease; 
}
.products a:hover{
    font-family: "Viaoda Libre", serif;  
    color: rgba(100, 96, 86, 1);
    text-shadow: 3px 2px 4px rgba(141, 141, 141, 0.93);
    letter-spacing: 4vw;
    
}
 .products li{
    padding: 2vh;
 }
 #l1{padding-left: 49%;}
 #l2{padding-left: 44.7%;}
 #l3{padding-left: 40.7%;}
 #l4{padding-left: 32.2%;}
 #l5{padding-left: 23.3%;}
 #l6{padding-left: 27.6%;}






/*  part 4 */
.materials {
    margin-left: 50px;
    margin-bottom: 100px;
}

.materials_head {
    font-size: 86px;
    color: #C4B399;
}

.materials_text {
    font-size: 24px;
    margin-bottom: 100px;
}

.materials_photos_container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto; 
}

.materials_photos_container img {
    max-height: 24.815vh;
    width: auto; 
}




/*  part 5 */
.shop_in_store{
    padding: 100px 100px 100px 10%;

}
.shop_info{
    text-align: center;
}
.shop_in_store img{
    border-radius: 62px;
}
.shop_in_store a{
    text-decoration: none;
    font-size: 24px;
    border: 1px solid rgba(103, 97, 88, 1);    
    padding: 10px 30px;
    border-radius: 60px;
    color: rgba(103, 97, 88, 1);
}
.shop_in_store a:hover{
    background-color: rgba(103, 97, 88, 1);
    color: #f8f8f8;
}
.shop_in_store p{
    margin-bottom: 50px;
}





/*  bottom */
.footer_text{
    margin-left: 5px;
    font-size: 32px;
    letter-spacing: 6px;
}
footer a{
    text-decoration: none;
    margin-left: 10px;
    font-size: 32px;
    color: black;
}
#inst:hover{
    color: #D23C7D;
}
#facebook:hover{
    color: #3B579D;
}
#pint:hover{
    color: red;
}
footer i{
    font-size: 32px;
}

.footer_info{
    margin-bottom: 60px;
}
.rights{
    font-size: 10px;
} 

.footer_info{
    margin-top: 60px;
    padding-left: 10%;
    padding-right: 20%;
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /*  part 2 */
    .about_us {
        margin-top: 6vh;
        padding: 5vh;
        flex-direction: column; 
        
    }

    .about_info {
        padding-left: 0;
        text-align: center;
    }

    .slider_wrapper{
        max-width: 80%;
    }

    /*  part 3 */
    .products {
        height: auto;
        padding-top: 5vh;
    }

    .products a {
        
        letter-spacing: 1vw;
    }
    .products a:hover{
        letter-spacing: 2.5vw;
    }

    /*  part 4 */
    .materials {
        margin-left: 20px;
        margin-bottom: 50px;
    }   

    .materials_photos_container {
        flex-direction: column;
        align-items: center;
    }

    .materials_photos_container img {
        max-height: 20vh;
        margin-bottom: 20px;
    }

    /*  part 5 */
    .shop_in_store {
        padding: 50px 20px;
        flex-direction: column;
    }

    .shop_in_store img {
        max-width: 80%; 
        margin: 20px auto;
    }

    .shop_info {
        text-align: center;
    }

        
}


@media only screen and (max-width: 768px) {
    
    body {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    
    header {
        padding: 10px 0;
    }

    .spacer {
        display: none;
    }

    
    .dropdown-content {
        min-width: 100%;
    }

    /* part 1 */
    .welcome {
        height: 100vh;
    }

    #scalable-text {
        display: none;
    }
    #fixed-text{
        font-size: 60vw; 
        display: block;
        font-family: "Xanh Mono", monospace;
        position: absolute;
        bottom: 35%; 
        left: 50%; 
        margin: 0;  
        
    }
    /* part 2 */
    .about_us {
        flex-direction: column;
        padding: 5vh 2%;
    }

    .about_info {
        padding: 0;
    }

    .head {
        font-size: 48px;
    }

    .text {
        font-size: 18px;
    }
    .slider_wrapper{max-width: 90vw;}


    /* part3 */
    .products {
        height: auto;
        padding: 20px;
        font-size: 4vh;
    }

    .products a {
        letter-spacing: normal;
        display: block;
        padding: 10px 0;
        text-align: center;
    }
    .products a:hover{
        letter-spacing: 1.5vw;
    }

    /* part 4 */
    .materials {
        margin-left: 0;
        padding: 20px;
    }

    .materials_photos_container {
        
        align-items: center;
    }

    .materials_photos_container img {
        max-width: 80vw;
        margin-bottom: 20px;
    }

    /* part 5 */
    .shop_in_store {
        flex-direction: column;
        padding: 1%;
    }

    .shop_in_store img {
        max-width: 90vw; 
        margin-bottom: 20px;
    }

    .shop_in_store a {
        font-size: 18px;
        padding: 8px 20px;
    }

    /* Footer */
    .footer_info {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }

    .contacts, .links {
        text-align: center;
        margin-bottom: 20px;
    }

    .rights {
        text-align: center;
    }

    footer a {
        font-size: 24px;
    }
}